.contFluid {
  .nav_mobile {
    display: none;
  }

  .nav {
    .inner_menu {
      text-align: center;
      padding: 15px 0;
      li {
        display: inline-block;
        a {
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          color: #234ea8;
          margin: 0 20px;
        }
      }
      //li
    }
    //inner_menu

    .search {
      .search_wrapper {
        position: relative;
        max-width: 700px;
        display: block;
        margin: 0 auto;
        .input_search {
          position: relative;
          font-size: 14px;
          line-height: 14px;
          width: 100%;
          height: 40px;
          padding: 5px 60px 5px 15px;
          border-radius: 2px;
          border: 1px solid #ccc;
          color: #555;
          -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
          @include transition(border-color ease-in-out .15s,box-shadow ease-in-out .15s);
          display: block;
          z-index: 2;
        }
        //input_search

        .icon_search {
          position: absolute;
          top: 0;
          right: 20px;
          bottom: 0;
          margin: auto;
          width: 20px;
          height: 20px;
          fill: #00aeef;
          z-index: 3;
        }
        //icon_search
      }
    }
    //search
  }
  //nav
}
//contFluid