extends layout

block content
  div.row.cf_main
    div.container
      section.list_items

        article
          div.inner
            div.topBar
              div.tb_author
                img.ah_logo(src="http://programmy-dlya-android.ru/posters/90_0_100_1/uploads/posts/2015-05/1431294786_kingsoft-office.png")
                div.ah_name Life
                time.ah_time 15:30 18.10.2016
              div.icon.icon-action-menu
            a.pic(href="/")
              img.images(src="https://okartinkah.ru/img/s-dnem-rozhdeniya-kartinki-more-1501/s-dnem-rozhdeniya-kartinki-more-17.jpg")
            div.info
              a.title(href="/") Путин: РФ удалось стабилизировать экономику, но нужно выйти на устойчивый рост
              div.tags
                a(href="/") #ЭКОНОМИКА
                a(href="/") #ПУТИН
                a(href="/") #НОВОСТИ
                a(href="/") #РОССИЯ
            div.action
              div.icon.icon-hook

        article
          div.inner
            div.topBar
              div.tb_author
                img.ah_logo(src="http://programmy-dlya-android.ru/posters/90_0_100_1/uploads/posts/2015-05/1431294786_kingsoft-office.png")
                div.ah_name Life
                time.ah_time 15:30 18.10.2016
              div.icon.icon-action-menu
            a.pic(href="/")
              img.images(src="https://okartinkah.ru/img/s-dnem-rozhdeniya-kartinki-more-1501/s-dnem-rozhdeniya-kartinki-more-17.jpg")
            div.info
              a.title(href="/") Путин: РФ удалось стабилизировать экономику, но нужно выйти на устойчивый рост
              div.tags
                a(href="/") #ЭКОНОМИКА
                a(href="/") #ПУТИН
                a(href="/") #НОВОСТИ
                a(href="/") #РОССИЯ
            div.action
              div.icon.icon-hook

        article
          div.inner
            div.topBar
              div.tb_author
                img.ah_logo(src="http://programmy-dlya-android.ru/posters/90_0_100_1/uploads/posts/2015-05/1431294786_kingsoft-office.png")
                div.ah_name Life
                time.ah_time 15:30 18.10.2016
              div.icon.icon-action-menu
            a.pic(href="/")
              img.images(src="https://okartinkah.ru/img/s-dnem-rozhdeniya-kartinki-more-1501/s-dnem-rozhdeniya-kartinki-more-17.jpg")
            div.info
              a.title(href="/") Путин: РФ удалось стабилизировать экономику, но нужно выйти на устойчивый рост
              div.tags
                a(href="/") #ЭКОНОМИКА
                a(href="/") #ПУТИН
                a(href="/") #НОВОСТИ
                a(href="/") #РОССИЯ
            div.action
              div.icon.icon-hook

        article
          div.inner
            div.topBar
              div.tb_author
                img.ah_logo(src="http://programmy-dlya-android.ru/posters/90_0_100_1/uploads/posts/2015-05/1431294786_kingsoft-office.png")
                div.ah_name Life
                time.ah_time 15:30 18.10.2016
              div.icon.icon-action-menu
            a.pic(href="/")
              img.images(src="https://okartinkah.ru/img/s-dnem-rozhdeniya-kartinki-more-1501/s-dnem-rozhdeniya-kartinki-more-17.jpg")
            div.info
              a.title(href="/") Путин: РФ удалось стабилизировать экономику, но нужно выйти на устойчивый рост
              div.tags
                a(href="/") #ЭКОНОМИКА
                a(href="/") #ПУТИН
                a(href="/") #НОВОСТИ
                a(href="/") #РОССИЯ
            div.action
              div.icon.icon-hook
        article
          div.inner
            div.topBar
              div.tb_author
                img.ah_logo(src="http://programmy-dlya-android.ru/posters/90_0_100_1/uploads/posts/2015-05/1431294786_kingsoft-office.png")
                div.ah_name Life
                time.ah_time 15:30 18.10.2016
              div.icon.icon-action-menu
            a.pic(href="/")
              img.images(src="https://okartinkah.ru/img/s-dnem-rozhdeniya-kartinki-more-1501/s-dnem-rozhdeniya-kartinki-more-17.jpg")
            div.info
              a.title(href="/") Путин: РФ удалось стабилизировать экономику, но нужно выйти на устойчивый рост
              div.tags
                a(href="/") #ЭКОНОМИКА
                a(href="/") #ПУТИН
                a(href="/") #НОВОСТИ
                a(href="/") #РОССИЯ
            div.action
              div.icon.icon-hook


