doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet")
        link(rel='stylesheet', href='/stylesheets/main.css')
        script(src="http://maps.googleapis.com/maps/api/js?libraries=places")
        script(src="/javascripts/jquery.js")
        script(src="/javascripts/main.js")
    body
        div.contFluid
            div.cf_auth
                div.ah_panel
                    div.pl_use Уже используете Roocean?
                    div.btn_white Войти
            //cf_auth

            div.cf_signup(style="background-image: url(/images/bg.jpg);")
                div.container
                    div.icon.icon-roocean
                    p.sg_text Социально-новостная лента со всего мира Новости пишите Вы!

                    div.sg_auth
                        div.at_left
                            div.lt_title Зарегистрироваться через
                            div.lt_social
                                a(href="#").facebook
                                    span.icon.icon-facebook
                                    | facebook
                                a(href="#").vk
                                    span.icon.icon-vkontakte
                                    | ВКонтакте
                                a(href="#").twitter
                                    span.icon.icon-twitter
                                    | Twitter
                                a(href="#").gplus
                                    span.icon.icon-gplus
                                    | Google Plus
                            div.lt_infoText Мы не публикуем ничего от вашего имени

                        div.at_right
                            div.rt_title или через эл. почту
                            form.rt_form(method="post" action="")
                                label.formGroup
                                    div.fm_title Имя
                                    input.form-control(type="text" name="firstname" placeholder="Ваша имя")
                                label.formGroup
                                    div.fm_title Фамилия
                                    input.form-control(type="text" name="lastname" placeholder="Ваша фамилия")
                                label.formGroup
                                    div.fm_title Дата рождения
                                    div.fm_date
                                        div.dt_day
                                            select.selectDate
                                                option(value="" disabled selected hidden) День
                                                option 1
                                                option 2
                                                option 3
                                                option 4
                                                option 5
                                                option 6
                                                option 7
                                                option 8
                                                option 9
                                                option 10
                                                option 11
                                                option 12
                                                option 13
                                                option 14
                                                option 15
                                                option 16
                                                option 17
                                                option 18
                                                option 19
                                                option 20
                                                option 21
                                                option 22
                                                option 23
                                                option 24
                                                option 25
                                                option 26
                                                option 27
                                                option 28
                                                option 29
                                                option 30
                                                option 31
                                        div.dt_month
                                            select.selectDate
                                                option(value="" disabled selected hidden) Месяц
                                                option Январь
                                                option Февраль
                                                option Март
                                                option Апрель
                                                option Май
                                                option Июнь
                                                option Июль
                                                option Август
                                                option Сентябрь
                                                option Октябрь
                                                option Ноябрь
                                                option Декабрь
                                        div.dt_year
                                            select.selectDate
                                                option(value="" disabled selected hidden) Год
                                                option 2016
                                                option 2015
                                                option 2014
                                                option 2013
                                                option 2012
                                                option 2011
                                                option 2010
                                                option 2009
                                                option 2008
                                                option 2007
                                                option 2006
                                                option 2005
                                                option 2004
                                                option 2003
                                                option 2002
                                                option 2001
                                                option 2000
                                                option 1999
                                                option 1998
                                                option 1997
                                                option 1996
                                                option 1995
                                                option 1994
                                                option 1993
                                                option 1992
                                                option 1991
                                                option 1990

                                label.formGroup.fg_search
                                    div.fm_title Город
                                    input#geocomplete.form-control(type="text" name="city" value="" placeholder="Укажите местоположение" autocomplete="off")
                                    div.icon.icon-search
                                    span.fm_example например: Москва, Россия
                                    input(name="lat" type="hidden" value="")
                                    input(name="lng" type="hidden" value="")
                                    input(name="formatted_address" type="hidden" value="")
                                    input(name="country" type="hidden" value="")
                                div.formGroup
                                    div.fm_title Пол
                                    div.fm_radio
                                        input#radioM.radio(type="radio" name="floor")
                                        label.checkbox(for="radioM") Мужской
                                    div.fm_radio
                                        input#radioW.radio(type="radio" name="floor")
                                        label.checkbox(for="radioW") Женский

                                button.btn_green(type="submit") Зарегистрироваться

