div.row.header
    div.container
        div.logo
           a(href="/").icon.icon-roocean
        ul.hr_tags
            li
                a(href="#") # москва
            li
                a(href="#") # москва
            li
                a(href="#") # москва
            li
                a(href="#") # москва
            li
                a(href="#") # москва
            li
                a(href="#") # москва
            li
                a(href="#") # москва

        form.hr_search(action="")
            div.search_wrapper
                input.input_search(type="text" placeholder="Найти")
                div.icon.icon-search
        //search
    //container

    div#waves.waves_bg
        svg.waves(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 400" enable-background="new 0 0 800 170")
            //path(d="M0,0h800v134c-66.7-16.7-133.3-16.7-200,0s-133.3,16.7-200,0s-133.3-16.7-200,0S66.7,150.7,0,134V0z" fill="#29aae1")
            //path(d="M0,0h800v134c-66.7-16.7-133.3-16.7-200,0s-133.3,16.7-200,0s-133.3-16.7-200,0S66.7,150.7,0,134V0z" fill="#29aae1")
            path(d="m800 54.6v60.7c-66.7-16.7-133.3-16.7-200 0-66.7 16.7-133.3 16.7-200 0-66.7-16.7-133.3-16.7-200 0-66.7 16.7-133.3 16.7-200 0v-60.7c66.7 16.7 133.3 16.7 200 0s133.3-16.7 200 0 133.3 16.7 200 0 133.3-16.7 200 0" fill="#42a0dc")
            path(d="m800 54.6v60.7c-66.7-16.7-133.3-16.7-200 0-66.7 16.7-133.3 16.7-200 0-66.7-16.7-133.3-16.7-200 0-66.7 16.7-133.3 16.7-200 0v-60.7c66.7 16.7 133.3 16.7 200 0s133.3-16.7 200 0 133.3 16.7 200 0 133.3-16.7 200 0" fill="#42a0dc")
            path.last(d="m800 9.3v18.4c-66.7-3.2-133.3-3.2-200 0-66.7 3.2-133.3 3.2-200 0-66.7-3.2-133.3-3.2-200 0-66.7 3.2-133.3 3.2-200 0v-18.4c66.7 3.2 133.3 3.2 200 0 66.7-3.2 133.3-3.2 200 0 66.7 3.2 133.3 3.2 200 0 66.7-3.1 133.3-3.1 200 0" fill="#42a0dc")

    //waves_bg
//header