div.nav_mobile
    ul.innerMenuMob
        li.active
            a(href="#") Торговые объекты
        li
            a(href="#") О комплексе
        li
            a(href="#") Магазины
        li
            a(href="#") Еда
        li
            a(href="#") Услуги
        li
            a(href="#") Новости
        li
            a(href="#") Акции
        li
            a(href="#") Арендаторам
        li
            a(href="#") Контакты
//nav_mobile

nav.row.nav
    div.container
        div.menu_toggle
            span.menu_bar.bar1
            span.menu_bar.bar2
            span.menu_bar.bar3
        //menu_toggle

        ul.inner_menu
            li.active
                a(href="/") Главная
            li
                a(href="/") О Нас
            li
                a(href="/") Контакты
        //inner_menu

        form.search(action="")
           div.search_wrapper
                input.input_search(type="text" placeholder="Найти")
                svg.icon_search
                    use(xlink:href="/images/icons.svg#icon_search")
        //search
    //container
//nav

